body {
  margin: 0;
  font-family: montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav.primary {
  width: 100vw;
  padding: 20px 0px;
  background: #e8eaf4;
}

nav a {
  text-decoration: none;
  margin-right: 20px;
}

nav a.active {
  font-weight: bold;
}
